/* _content/PSN-Official/Shared/MainLayout.razor.rz.scp.css */
.page[b-m7xm51nada] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-m7xm51nada] {
    flex: 1;
}

.sidebar[b-m7xm51nada] {
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}
footer[b-m7xm51nada] {
    background: var(--main-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.top-row[b-m7xm51nada] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-m7xm51nada]  a, .top-row .btn-link[b-m7xm51nada] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-m7xm51nada] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-m7xm51nada] {
        display: none;
    }

    .top-row.auth[b-m7xm51nada] {
        justify-content: space-between;
    }

    .top-row a[b-m7xm51nada], .top-row .btn-link[b-m7xm51nada] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-m7xm51nada] {
        flex-direction: row;
    }

    .sidebar[b-m7xm51nada] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-m7xm51nada] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-m7xm51nada], article[b-m7xm51nada] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PSN-Official/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-sjtj1n2rld] {
    background-color: var(--main-color);
}

.top-row[b-sjtj1n2rld] {
    height: 3.5rem;
    background-color: var(--main-light);
}

.navbar-brand[b-sjtj1n2rld] {
    font-size: 1.1rem;
    position: relative;
}
navbar-brand .logo[b-sjtj1n2rld]{
    display: flex;
}
.logo img[b-sjtj1n2rld]{
    width: 3rem;
    height: 3rem;
}

.oi[b-sjtj1n2rld] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-sjtj1n2rld] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-sjtj1n2rld] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-sjtj1n2rld] {
        padding-bottom: 1rem;
    }

    .nav-item[b-sjtj1n2rld]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-sjtj1n2rld]  a.active {
    background-color: var(--main-light);
    color: white;
}

.nav-item[b-sjtj1n2rld]  a:hover {
    background-color: var(--main-light);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-sjtj1n2rld] {
        display: none;
    }

    .collapse[b-sjtj1n2rld] {
        display: block;
    }
}
