<section id="team" class="team-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5">
                <h6>Geo Data Processing</h6>
                <h3>Geophysical Data Processing</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g1.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Sloppy Seabed</h5>
                        <p>Processed Multibeam dataset depicting a sloppy seabed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter-top">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g2.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Roll DTM</h5>
                        <p>Processed Roll Patch Test showing relatively flat seabed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g3.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>PipeLine</h5>
                        <p>Processed Multibeam dataset depicting a suspected pipeline</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g4.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Rock Layers</h5>
                        <p>Processed Multibeam dataset depicting a layered rock</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter mt-5">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g5.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Rock Fracture</h5>
                        <p>Processed Multibeam dataset depicting a fractured rock</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter mt-5">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g6.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Wreck Model</h5>
                        <p>A Wreck Model identified during processing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4  alter mt-5">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g7.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Wreck Model</h5>
                        <p>Processed Multibeam dataset depicting wrecked boats</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter mt-5">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/Geo/g4.png" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Rock Outcrop</h5>
                        <p>Processed Multibeam dataset depicting a rock outcrop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


