@inherits LayoutComponentBase
<PageTitle>PSN</PageTitle>

<div>
        <header class="header-wrapper">
            <NavMenu />
        </header>

        <main>
            <article>
                @Body
            </article>
        </main>

        <div class="mt-2">
            <Footer />
        </div>
        

</div>